<div ng-controller="ClientsController">

  <!-- When the page is loading -->
  <div ng-show="!displayScreen" class="u-text-center">
    <%= image_tag 'configuration.png', class: 'u-spin' %>
  </div>

  <!-- When the page is loaded -->
  <div ng-show="displayScreen">

    <div ng-repeat="client in clients">
      <card></card>
    </div>

    <card type="empty" instance="Client" link="/clients/new"></card>
  </div>
</div>