<div ng-controller="ClientsController">

  <!-- When the page is loading -->
  <div ng-show="!displayScreen" class="u-text-center">
    <%= image_tag 'configuration.png', class: 'u-spin' %>
  </div>

</div>