#app
  = render partial: 'app/shared/navigation'
  #meetings
    .meeting-header
      %h1 Daily Meeting

    .meeting-components
      .container-fluid
        .row
          .col-lg-6
            %meeting-agenda{ config: '{}' }
          .col-lg-6
            %meeting-agenda{ config: '{}' }