#app
  = render partial: 'app/shared/navigation'
  #meetings
    .meeting-header
      %h1 My Meetings

    .meeting-components
      .container-fluid
        .row
          .col-lg-6
            .meeting-section
              .meeting-section-title Agenda
              .meeting-items
                .item Item A
                .item Item B
                .item Item C
                .add-item.item
                  Add new item..
          .col-lg-6
            .meeting-section
              .meeting-section-title.private Private Agenda
              .meeting-items
                .item Item A
                .item Item B
                .item Item C
                .add-item.item
                  Add new item..