.c-up-header {
  left: 250px;
  background-color: #3A5466;
  width: 100%;
}

  .c-up-header__title {
    padding: 40px;
    font-size: 30px;
    color: #ffffff;

    i {
      color: #82a1b8;
      font-size: 20px;
      line-height: 42px;
      vertical-align: top;
    }
  }

  .c-up-header__submenu {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 2px solid #CED3D7;
  }
