.c-card {
  width: calc(33% - 40px);
  min-width: 300px;
  min-height: 250px;
  display: inline-block;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  margin: 20px;
  padding: 20px;

  &:hover {
    text-decoration: none;
  }
}

  .c-card--table {
    display: table;
  }

  .c-card__icon {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .c-card__description {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .c-card__content {
    color: #cccccc;
  }

  .c-card__content--table {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;

    &:hover {
      color: #aaaaaa;
    }
  }

