.c-nav-primary {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #293541;
}

  .c-nav-primary__logo {
    width: 100%;
    background-color: #FF7A4D;
    height: 100px;
  }

  .c-nav-primary__item {
    width: calc(100% - 20px);
    color: #aaaaaa;
    padding: 15px;
    box-sizing: border-box;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    border-radius: 2px;
    display: block;

    &.is-active {
      background-color: #34404C;
      color: #ffffff;
    }

    &:hover {
      opacity: 0.8;
      background-color: #34404C;
      color: #ffffff;
    }
  }

    .c-nav-primary__item__icon {
      width: 30px;
      display: inline-block;
    }

    .c-nav-primary__item__text {
      width: calc(100% - 50px);
      display: inline-block;
    }

    .c-nav-primary__item__action {
      width: 20px;
      display: inline-block;
    }
