.meeting-header
  .title{ 'contenteditable' => 'true', 'ng-blur' => 'handleTitleBlur()', 'ng-keydown' => 'handleTitleKeydown($event)' }
    {{ currentMeeting().name }}
  .start-time
    Start Time:
    {{ currentMeeting().start_time }}
  .user-image
    = image_tag 'user-image.jpg'