.meeting-header
  .title{ 'contenteditable' => 'true', 'ng-blur' => 'handleTitleBlur()', 'ng-keydown' => 'handleTitleKeydown($event)' }
    {{ currentMeeting().name }}
  .meeting-description
    Meeting Description
  .user-image
    = image_tag 'user-image.jpg'
  .menu
    .content
      .row
        .menu-left.col-lg-2.col-lg-offset-3
          .menu-title
            Agenda Items
          .value
            1
        .col-lg-2
          .menu-title
            Members
          .value
            4
        .menu-right.col-lg-2
          .menu-title
            Start Time
          .value
            12/01/2015 - 12:00
