<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <a href="/app">
          <%= image_tag('meetlean-logo.png') %>
        </a>
        <a class="user-image">
          <%= image_tag 'user-image.jpg' %>
        </a>
        <a href="/app">
          <i class="fa fa-calendar"></i>
          <p>Dashboard</p>
        </a>
      </li>
    </ul>
  </section>
</aside>
