#nav-header
  .menu-content
    %ul.details
      %li
        %i.icon.icon-upcoming.hidden-desk
        %span My Meetings
      %li
        %i.icon.icon-upcoming.hidden-desk
        %span My Summaries
      %li
        %i.icon.icon-upcoming.hidden-desk
        %span Open Action Items
      %li
        %i.icon.icon-upcoming.hidden-desk
        %span Projects