#nav-header
  .menu-content
    .main-link.active
      %i.fa.fa-pagelines
      My Clients
    .main-link
      %i.fa.fa-paperclip
      My Projects
    .main-link
      %i.fa.fa-adjust
      My Meetings