%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        = image_tag 'landing/team/profile.png', { class: 'img-circle' }
      .pull-left.info
        %p Gabriel Fagúndez

    %ul.sidebar-menu
      %li.header MAIN NAVIGATION
      %li
        = link_to app_meetings_path do
          %i.fa.fa-calendar
          %span My Meetings