.wrapper
  %ng-include{ src: "'#{ asset_path('angular/templates/app/shared/header.html') }'" }
  %ng-include{ src: "'#{ asset_path('angular/templates/app/shared/navigation.html') }'" }

  .content-wrapper{ 'ng-controller' => 'MeetingsController' }
    %section.content-header
      %h1
        Meetings
        %small Index

    %ng-include{ src: 'template' }