%ul.timeline
  %li.time-label
    %span.bg-red
      10 Feb. 2014
  %li
    %i.fa.fa-envelope.bg-blue
    .timeline-item
      %span.time
        %i.fa.fa-clock-o 12:05
      %h3.timeline-header Support Team sent you an email
      .timeline-body
      .timeline-footer
        %a.btn.btn-primary.btn-xs See this meeting
  %li
    %i.fa.fa-clock-o.bg-gray