<div class="c-page-head">

  <div class="c-page-head__left">
    <div class="c-page-head__title">Projects</div>
  </div><div class="c-page-head__right">
    <a class="c-page-head__title">Gabriel Fagúndez de los Reyes</a>
    <i class="fa fa-chevron-down"></i>
  </div>

  <% if @projects.blank? %>
    <div class="c-empty-entity">
      <div class="c-empty-entity__icon">
        :(
      </div>
      <div class="c-empty-entity__text">
        You don't have any project. Try <a href="">adding a new project</a>.
      </div>
    </div>
  <% else %>

  <% end %>

</div>
