<div class="c-page-head">

  <div class="c-page-head__left">
    <div class="c-page-head__title">Projects</div>
  </div><div class="c-page-head__right">
    <a class="c-page-head__title">Gabriel Fagúndez de los Reyes</a>
    <i class="fa fa-chevron-down"></i>
  </div>

</div>

<% unless @project %>
  <div class="c-empty-entity">
    <div class="c-empty-entity__icon">
      :(
    </div>
    <div class="c-empty-entity__text">
      Invalid project ID
    </div>
  </div>
<% else %>
  <div class="c-project">
    <div class="c-project__logo"></div><div class="c-project__id">
      <div class="c-project__name">
        <%= @project.name %>
      </div>

      <div class="c-project__vision">
        <%= @project.vision %>
      </div>
    </div>
  </div>
<% end %>
