.login-page-container
  .login-box
    .login-logo
      %b Meetlean
    .login-box-body
      %p.login-box-msg Sign in to start your session
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group.has-feedback
          = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
          %span.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          = f.password_field :password, autocomplete: 'off', placeholder: 'Password', class: 'form-control'
          %span.glyphicon.glyphicon-lock.form-control-feedback
          %br
          .row
            .col-xs-12
              = f.submit 'Log in', class: 'btn btn-primary btn-block btn-flat'

      .social-auth-links.text-center
        %p - OR -
        %a.btn.btn-block.btn-social.btn-google-plus.btn-flat{ href: '#' }
          %i.fa.fa-google-plus
          Sign in using Google+

      %a{:href => '#'} I forgot my password
      %br/
      %a.text-center{:href => 'register.html'} Register a new membership