#meetings {
  .meeting-header {
    background: image-url('covers/1.jpg') no-repeat center/cover #3a4249;
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    color: #ffffff;
    padding: 70px 0;
    position: relative;
    text-align: center;
    .title {
      font-size: 50px;
      line-height: 45px;
      margin: 0 120px;
      padding-top: 3px;
      outline: none;
    }
    .meeting-description {
      font-size: 25px;
      margin-top: 20px;
      color: #aaaaaa;
    }
    .user-image {
      position: absolute;
      left: 45%;
      bottom: -10%;
      z-index: 999;
      width: 10%;
      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
    }
    .menu {
      text-align: center;
      margin-top: -20px;
      .menu-title {
        font-weight: bold;
      }
      .menu-left {
        border-right: 1px solid #cccccc;
      }
      .menu-right {
        border-left: 1px solid #cccccc;
      }
    }
  }
  .content {
    margin-top: 50px;
  }
  .box {
    .item-list {
      .item {
        color: #555555;
        line-height: 20px;
        word-wrap: break-word;
        margin: 6px 16px;
        padding: 4px 4px;
        &:hover {
          color: #333333;
          cursor: text;
        }
        &:focus {
          outline: none
        }
        &.done {
          text-decoration: line-through;
          color: #999999;
        }
      }
    }
    .add-item {
      color: #dcdcdc;
      line-height: 20px;
      word-wrap: break-word;
      padding: 10px 20px;
      &:hover {
        color: #c2c2c2;
        cursor: pointer;
      }
      i { padding-right: 10px }
    }
  }
  .private {
    background-image: image-url('meetings/panel-locked.png');
  }
  .private-body {
    background-color: #fafafa;
  }
  .separator {
    margin: 25px 0;
    border-bottom: 1px solid #d2d6de;
  }
  .summary-controls-button {
    color: #888;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #444;
    }
  }
  .options {
    width: 100%;
    text-align: center;
    .btn-app {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .btn {
    color: #555555;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    &.btn-large {
      border-bottom: 2px solid #555555;
    }
  }
}

#meetings-index {
  .meetings-nav {
    padding: 10px;
    .new-meeting {
      display: inline;
      color: #cccccc;
      cursor: pointer;
      &:hover {
        color: #777777;
      }
      i {
        font-size: 40px;
      }
    }
  }
  .timeline-day {
    position: relative;
    padding: 120px;
    background: image-url("meetings/lineLight.png") repeat-y center top;
    height: 100%;
    .dayhead {
      color: #dbdee0;
      font-size: 28px;
      background-color: #fff;
      border-radius: 7px;
      border: 2px solid #d0d1d2;
      width: 66%;
      margin-left: 16%;
      text-align: center;
      padding: 20px 10px;
      margin-bottom: 40px;
    }
    .meeting {
      position: relative;
      display: block;
      margin-bottom: 120px;
      width: 100%;
      background: image-url("meetings/dot_my_meetings.png") no-repeat center 16px;
      &.left {
        .time {
          left: 50%;
        }
        .mini-meeting {
          margin-right: 55%;
          .main {
            .arrow {
              border-top: solid 1px #999;
              border-right: solid 1px #999;
              left: 100%;
              margin-left: -7px;
            }
          }
        }
      }
      &.right {
        .time {
          right: 50%;
        }
        .mini-meeting {
          margin-left: 55%;
          .main {
            .arrow {
              border-bottom: solid 1px #999;
              border-left: solid 1px #999;
              left: -8px;
            }
          }
        }
      }
      .time {
        position: absolute;
        width: auto;
        padding: 0 20px;
        top: 16px;
        font-size: 18px;
        color: #999;
      }
      .mini-meeting {
        width: 45%;
        position: relative;
        display: block;
        .main {
          position: relative;
          width: 100%;
          padding: 10px;
          min-height: 60px;
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          border-radius: 7px;
          border: solid 1px #999;
          background-color: #fff;
          cursor: pointer;
          .arrow {
            display: block;
            position: absolute;
            top: 20px;
            width: 15px;
            height: 15px;
            background-color: #fff;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
          .title {
            color: #1d1d1d;
            font-size: 20px;
            word-wrap: break-word;
          }
          .description {
            font-size: 16px;
            color: #999;
            word-wrap: break-word;
          }
          .toolbar {
            margin-top: 5px;
            text-align: right;
            color: #d0d1d2;
          }
        }
        .more {
          position: absolute;
          top: 100%;
          width: 100%;
          z-index: 1000;
          cursor: pointer;
          .detail {
            position: relative;
            margin-top: -10px;
            width: 100%;
            padding: 10px;
            z-index: 1000;
            cursor: pointer;
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
            border: solid 1px #999;
            border-top: none;
            background-color: #fafafa;
            .info {
              color: #1d1d1d;
              padding-bottom: 5px;
            }
            .value {
              color: #999999;
            }
          }
        }
      }
    ;
    }
  }
}