#meetings {
  .meeting-header {
    background: image-url('meetings/header.jpg') no-repeat center/cover #3a4249;
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    color: #ffffff;
    padding: 70px;
    position: relative;
    text-align: center;
    .title {
      font-size: 50px;
      line-height: 45px;
      margin: 0 120px;
      padding-top: 3px;
      text-transform: uppercase;
      outline: none;
    }
    .start-time {
      font-size: 25px;
      margin-top: 20px;
      color: #777;
      text-transform: uppercase;
    }
    .user-image {
      position: absolute;
      left: 45%;
      bottom: -10%;
      z-index: 999;
      width: 10%;
      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
      }
    }
  }
  .content {
    margin-top: 50px;
  }
  .box {
    .item-list {
      .item {
        color: #555555;
        line-height: 20px;
        word-wrap: break-word;
        margin: 6px 16px;
        padding: 4px 4px;
        &:hover {
          color: #333333;
          cursor: text;
        }
        &:focus {
          outline: none
        }
        &.done {
          text-decoration: line-through;
          color: #999999;
        }
      }
    }
    .add-item {
      color: #dcdcdc;
      line-height: 20px;
      word-wrap: break-word;
      padding: 10px 20px;
      &:hover {
        color: #c2c2c2;
        cursor: pointer;
      }
      i { padding-right: 10px }
    }
  }
  .private {
    background-image: image-url('meetings/panel-locked.png');
  }
  .private-body {
    background-color: #fafafa;
  }
  .separator {
    margin: 25px 0;
    border-bottom: 1px solid #d2d6de;
  }
  .options {
    width: 100%;
    text-align: center;
    .btn-app {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

#meetings-index {
  .meetings-title {
    text-align: center;
    h1 {
      font-size: 32px;
      color: #000000;
    }
  }
}