html {
  height: 100%;

  body {
    height: 100%;
    -webkit-font-smoothing: antialiased;

    aside.main-sidebar {
      width: 110px;
      padding-top: 0;
      a {
        text-align: center;
        padding: 20px 5px 20px 0;
        .fa { width: auto; }
        &.user-image {
          img {
            border-radius: 100%;
            width: 80%;
          }
        }
        i {
          font-size: 30px;
        }
        p {
          font-size: 15px;
          width: 100%;
        }
      }
    }
    .content-wrapper {
      margin-left: 110px;
      position: relative;
      min-height: 100%;
      display: inline-block;
      width: calc(100% - 110px);
      padding-bottom: 100px;
      margin-top: -50px;

      .sticky-footer {
        position: fixed;
        bottom: 0;
        left: 110px;
        background-color: #ffffff;
        width: calc(100% - 110px);
        border-top: 1px solid #cccccc;
        padding: 5px;
        text-align: center;
      }
      .sticky-header {
        position: fixed;
        top: 0;
        left: 110px;
        background-color: #ffffff;
        border-bottom: 1px solid #cccccc;
        width: calc(100% - 110px);
        padding: 5px;
        text-align: center;
        z-index: 1001;
      }
    }
  }
}
