$base-font-size:    14px;
$base-line-height:  20px;

$base-radius:       3px;

$base-transition:   0.333333333s;

$base-spacing-unit: $base-line-height;


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1 0 auto;
}
