#meetings-index
  .sticky-header.meetings-nav
    .new-meeting
      %i.fa.fa-plus-square-o{ 'ng-click' => 'newMeeting()', 'tooltip' => true, 'data-placement' => 'bottom', 'title' => 'Add new meeting' }
  %section.content
    .timeline-day
      .dayhead
        Friday, April 3, 2015
      .event{ 'ng-repeat' => 'meeting in meetings' }
        .meeting{ 'ng-class-odd' => '"left"', 'ng-class-even' => '"right"' }
          .time 2:30 PM
          %a.mini-meeting{ 'ng-href' => '{{ meetingPath(meeting.id) }}' }
            .main.clearfix
              .arrow
              .title.selectable
                {{ meeting.name }}
                %span.icon.open-new-blue
              .description
              .toolbar
                %span.attendees.icon
            .more
              .detail
                .info
                  Members
                .value
                  No members added
              .detail
                .info
                  Location
                .value
                  No location set