#meetings-index
  .meetings-title
    %h1 My Timeline
    %a.btn.btn-app{ 'ng-click' => 'newMeeting()' }
      %i.fa.fa-plus
      Add new meeting


  %section.content
    .col-lg-12
      %ul.timeline
        %li{ 'ng-repeat' => 'meeting in meetings' }
          %i.fa.fa-envelope
          .timeline-item
            %span.time
              %i.fa.fa-clock-o
                {{ meeting.start_time }}
            %h3.timeline-header
              {{ meeting.name }}
            .timeline-body
              {{ meeting.description }}
            .timeline-footer
              %a.btn.btn-primary.btn-xs{ 'ng-href' => '{{ meetingPath(meeting.id) }}' }
                See this meeting

        %li
          %i.fa.fa-clock-o.bg-gray