%section.content
  .row
    .col-lg-6
      .box.box-default
        .box-header.with-border
          %h3.box-title Agenda
        .box-body{ 'ng-repeat' => 'agenda in currentMeeting.agenda' }
          {{ agenda.description }}


    .col-lg-6
      .box.box-default
        .box-header.with-border
          %h3.box-title Private Notes
        .box-body
