.row
  .col-lg-8
    .box.box-default.meeting_summaries
      .box-header.with-border
        %h3.box-title Meeting Summary
      .box-body
        .item-list{ 'ng-repeat' => 'summary in currentMeeting().meeting_summaries' }
          .item{ 'ng-class' => 'itemClass(summary, "summary")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ summary.id }}' }
            {{ summary.description }}
        .add-item{ 'ng-click' => 'addItem("meeting_summaries")' }
          %i.fa.fa-plus
          Add new summary line

  .col-lg-4
    .box.box-warning.meeting_agendas
      .box-header.with-border
        %h3.box-title Agenda
      .box-body
        .item-list{ 'ng-repeat' => 'agenda in currentMeeting().meeting_agendas' }
          .item{ 'ng-class' => 'itemClass(agenda, "agenda")' }
            {{ agenda.description }}

.row
  .col-lg-9
    .separator
  .col-lg-3
    .summary-controls-button{ 'ng-click' => 'toggleSummaryControls()' }
      %i.fa.fa-plus
      Hide/Show Advanced Components

.row.summary-controls.hide
  .col-lg-4
    .box.box-default.meeting_decisions
      .box-header.with-border
        %h3.box-title Decisions
      .box-body
        .item-list{ 'ng-repeat' => 'item in currentMeeting().meeting_decisions' }
          .item{ 'ng-class' => 'itemClass(item, "meeting_decisions")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ item.id }}' }
            {{ item.description }}
        .add-item{ 'ng-click' => 'addItem("meeting_decisions")' }
          %i.fa.fa-plus
          Add new decision

  .col-lg-4
    .box.box-default.meeting_action_items
      .box-header.with-border
        %h3.box-title Action Items
      .box-body
        .item-list{ 'ng-repeat' => 'item in currentMeeting().meeting_action_items' }
          .item{ 'ng-class' => 'itemClass(item, "meeting_action_items")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ item.id }}' }
            {{ item.description }}
        .add-item{ 'ng-click' => 'addItem("meeting_action_items")' }
          %i.fa.fa-plus
          Add new action item

  .col-lg-4
    .box.box-default.meeting_open_issues
      .box-header.with-border
        %h3.box-title Open Issues
      .box-body
        .item-list{ 'ng-repeat' => 'item in currentMeeting().meeting_open_issues' }
          .item{ 'ng-class' => 'itemClass(item, "meeting_open_issues")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ item.id }}' }
            {{ item.description }}
        .add-item{ 'ng-click' => 'addItem("meeting_open_issues")' }
          %i.fa.fa-plus
          Add new open issue

.sticky-footer
  .pull-left
    %a.btn
      %i.fa.fa-cogs
  .pull-right
    %a.btn
      %i.fa.fa-link
  %a.btn.btn-large{ 'ng-click' => 'endMeeting()' }
    %i.fa.fa-play
    End Meeting
