.row
  .col-lg-8
    .box.box-default.meeting_summaries
      .box-header.with-border
        %h3.box-title Meeting Summary
      .box-body
        .item-list{ 'ng-repeat' => 'summary in currentMeeting.meeting_summaries' }
          .item{ 'ng-class' => 'itemClass(summary, "summary")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ summary.id }}' }
            {{ summary.description }}

  .col-lg-4
    .box.box-warning.meeting_agendas
      .box-header.with-border
        %h3.box-title Agenda
      .box-body
        .item-list{ 'ng-repeat' => 'agenda in currentMeeting.meeting_agendas' }
          .item{ 'ng-class' => 'itemClass(agenda, "agenda")' }
            {{ agenda.description }}

.row
  .col-lg-12
    .separator
  .col-lg-4
    .box.box-default.meeting_decisions
      .box-header.with-border
        %h3.box-title Decisions
      .box-body
        .item-list{ 'ng-repeat' => 'item in currentMeeting.meeting_decisions' }
          .item{ 'ng-class' => 'itemClass(item, "meeting_decisions")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ item.id }}' }
            {{ item.description }}

  .col-lg-4
    .box.box-default.meeting_action_items
      .box-header.with-border
        %h3.box-title Action Items
      .box-body
        .item-list{ 'ng-repeat' => 'item in currentMeeting.meeting_action_items' }
          .item{ 'ng-class' => 'itemClass(item, "meeting_action_items")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ item.id }}' }
            {{ item.description }}

  .col-lg-4
    .box.box-default.meeting_open_issues
      .box-header.with-border
        %h3.box-title Open Issues
      .box-body
        .item-list{ 'ng-repeat' => 'item in currentMeeting.meeting_open_issues' }
          .item{ 'ng-class' => 'itemClass(item, "meeting_open_issues")', 'contenteditable' => 'true', 'ng-keyup' => 'keyup($event)', 'ng-keydown' => 'keydown($event)', 'ng-blur' => 'blur($event)', 'ng-focus' => 'focus($event)', 'data-id' => '{{ item.id }}' }
            {{ item.description }}
