.wrapper
  %header.main-header
    %a.logo{:href => "index2.html"}
      %b> Admin
      LTE
    %nav.navbar.navbar-static-top{:role => "navigation"}
      %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
        %span.sr-only Toggle navigation

  = render partial: 'app/shared/navigation'

  .content-wrapper
    %section.content-header
      %h1
        Dashboard
        %small Control panel

    %section.content
      .row