!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %title MeetingLean
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
    %base{ href: '/' }

    -# Google Font
    %link{ href: 'http://fonts.googleapis.com/css?family=Raleway:400,300', rel: 'stylesheet', type: 'text/css' }

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags


  %body#page-top.index.skin-yellow{ 'ng-app' => 'meetinglean', 'ng-controller' => 'MainController' }
    %navbar{ active: controller_name }
    .c-content
      = yield