<div class="c-nav-primary">
  <div class="c-nav-primary__logo"></div>

  <div class="c-nav-primary__item is-active">
    <div class="c-nav-primary__item__icon">
      <i class="fa fa-dashboard"></i>
    </div><div class="c-nav-primary__item__text">
      Dashboard
    </div><div class="c-nav-primary__item__action">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="c-nav-primary__item">
    <div class="c-nav-primary__item__icon">
      <i class="fa fa-dashboard"></i>
    </div><div class="c-nav-primary__item__text">
      Clients
    </div><div class="c-nav-primary__item__action">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="c-nav-primary__item">
    <div class="c-nav-primary__item__icon">
      <i class="fa fa-dashboard"></i>
    </div><div class="c-nav-primary__item__text">
      Projects
    </div><div class="c-nav-primary__item__action">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="c-nav-primary__item">
    <div class="c-nav-primary__item__icon">
      <i class="fa fa-dashboard"></i>
    </div><div class="c-nav-primary__item__text">
      Workers
    </div><div class="c-nav-primary__item__action">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
</div>
